
{% extends 'base.html' %}

{% block content %}
  <h2>Feed</h2>
  {% for post in posts %}
    <div class="card mb-3">
      <div class="card-body">
        {% if post.image %}
          <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
        {% endif %}
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">Posted by: {{ post.user.username }} on {{ post.created_at }}</p>
        {% comment %} <p class="card-text">Likes: {{ post.likes.count }}</p> {% endcomment %}
        <div class="d-flex justify-content-between">
          <div>
            <a href="{% url 'like' post.pk %}" class="btn btn-outline-light btn-sm">
              <i class="fa-solid fa-heart" style="color: rgb(45, 72, 226);"></i> {{ post.likes.count }}
            </a>
            <a href="{% url 'comment_create' post.pk %}" class="btn btn-outline-light btn-sm">
              <i class="fa-regular fa-comment" style="color: rgb(45, 72, 226);"></i>
            </a>
            <!-- <a href="{% url 'like' post.pk %}" class="btn btn-outline-light btn-sm"><i class="fa-regular fa-heart" style="color: rgb(45, 72, 226);"></i></a> -->
          </div>
          {% if post.user == request.user %}
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
          {% endif %}
        </div>
      </div>
      {% if post.comments.exists %}
        <div class="card-footer">
          <h5>Comments</h5>
          {% for comment in post.comments.all %}
            <div class="card mb-2">
              <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-text">Posted by: {{ comment.user.username }} on {{ comment.created_at }}</p>
                {% if comment.user == request.user %}
                  <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
